lxml
pyquery
cloudscraper
requests
beautifulsoup4
Pillow
# 5.15.6 stuck on m1 Ventura 13.5, 5.15.10 is fine
PyQt5
PySocks
urllib3
zhconv
langid
opencv-contrib-python-headless
deepl-translate
ping3
oshash
numpy
curl-cffi
AppKit